:root {
    --background-color: #1B2431;
    --text-color: #eee;
    --background-contrast1: #A6814C;
    --background-contrast2: #4C4646;
    --heading-font: "Times", "Times New Roman", "serif";
    --body-font: "Arial", "sans-serif"
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 2;
}

body {
    margin: 10px;
    font-family: var(--body-font);
    background-color: var(--background-color);
    color: var(--text-color);
}

header, main, footer {
    width: 100%;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

header img {
    grid-column: 1;
    justify-self: center;
    width: 100px;
    height: auto;
}

header nav {
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
}

header nav a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
    padding: .5rem;
    text-align: center;
}

header nav a:hover {
    color: var(--background-contrast1);
}

h1, h2 {
    font-family: var(--heading-font);
    background-color: var(--background-contrast1);
}

iframe {
    margin: 10px;
    border-radius: 10px;
    width: 400px;
    height: 400px;
}

form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 800px;
    gap: 1rem;
}

nav, section p, footer p {
    margin: 1rem;
    padding: .5rem;
}

section h2 {
    padding: 10px;
    text-align: center;
    color: var(--background-color);
}

section img {
    width: 150px;
    height: auto;
}

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: 1px solid var(--background-contrast1);
}

footer p {
    grid-column: 2;
    align-content: center;
    justify-self: center;
}

/* Class Selectors */

.contacts h1 {
    text-align: center;
    color: var(--background-color);
}

.contacts p {
    text-align: center;
    margin: 3px;
}

.identity {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 5px;
}

#radio {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#radio p {
    display: grid;
    text-align: start;
}

.message {
    display: grid;
}

.history {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.adventure {
    margin: .5rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.employees {
    margin: .5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.one {
    margin: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.socialmedia {
    grid-column: 3;
    justify-self: center;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
}

.hero h1 {
    position: absolute;
    opacity: 80%;
    background-color: var(--background-color);
    color: var(--text-color);
    width: 100%;
    text-align: center;
    top: 15px;
    padding: .5rem;
}

.hero article {
    position: absolute;
    bottom: 15px;
    background-color: var(--background-contrast2);
    color: var(--text-color);
    padding: 5px;
    margin: 10px;
}

.hero article img {
    height: 150px;
    width: auto;
    float: right;
    padding: 0 0 0 10px;
    opacity: 80%;
}

.hero article p {
    padding: 10px;
}