:root {
    --background-color: #1B2431;
    --text-color: #eee;
    --background-contrast1: #A6814C;
    --background-contrast2: #4C4646;
    --heading-font: "Times", "Times New Roman", "serif";
    --body-font: "Arial", "sans-serif"
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 2;
}

body {
    margin: 0 10px;
    font-family: var(--body-font);
    background-color: var(--background-color);
    color: var(--text-color);
}

header, main, footer {
    width: 100%;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

header img {
    grid-column: 1;
    justify-self: center;
    width: 100px;
    height: auto;
}

header nav {
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
}

header nav a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
    padding: .5rem;
    text-align: center;
}

header nav a:hover {
    color: var(--background-contrast1);
}

h1, h2 {
    font-family: var(--heading-font);
    background-color: var(--background-contrast1);
}

iframe {
    margin: 10px;
    border-radius: 10px;
    width: 400px;
    height: 400px;
}

form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 800px;
    margin: 0 auto;
    gap: 1rem;
}

nav, section p, footer p {
    margin: 1rem;
    padding: .5rem;
}

section h2 {
    padding: 10px;
    text-align: center;
    color: var(--background-color);
}

section img {
    width: 150px;
    height: auto;
}

button {
    margin: 1rem;
    font-size: 1rem;
    padding: 8px;
    border-radius: 5px;
    border-style: hidden;
    background-color: var(--background-contrast1);
    color: var(--text-color);
}

button:hover {
    color: var(--background-color);
}

th, td {
    border: 2px solid var(--background-contrast1);
    padding: 0 3rem;
    border-radius: 5px;
}

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: 1px solid var(--background-contrast1);
}

footer p {
    grid-column: 2;
    align-content: center;
    justify-self: center;
    font-size: small;
}

/* Class Selectors */

.invite {
    position: absolute;
    left: 30%;
    bottom: 300px;
    text-align: center;
}

.invite p {
    font-style: italic;
    font-size: 22px;
    opacity: 70%;
}

.invite a {
    text-decoration: none;
    background-color: var(--background-color);
    margin: 3rem 2rem;
    padding: 10px;
    color: var(--text-color);
    border-radius: 5px;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}

.invite a:hover {
    color: var(--background-color);
    background-color: var(--background-contrast1);
}

.email1 {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1rem auto;
    justify-items: center;
}

.email2 label, .email2 input, .email2 button {
    margin: 1rem;
    display: grid;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
}

.email2 label {
    font-size: 3rem;
}

.email2 input {
    padding: 1rem;
}

.email2 {
    display: grid;
    background-color: #2a4135;
    border-radius: 5px;
    border-style: none;
}

.info1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: right;
    align-items: center;
}

.info1 p, .info2 p {
    margin: 1rem;
    padding: 2rem;
    border: 2px solid ;
}

.info1 img, .info2 img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

.info2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: end;
    align-items: center;
    margin: 1rem;
}

.contacts h1 {
    text-align: center;
    color: var(--background-color);
}

.contacts p {
    text-align: center;
    margin: 3px;
}

.identity {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 5px;
}

#radio {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#radio p {
    display: grid;
    text-align: start;
}

.message {
    display: grid;
}

.history {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.adventure {
    margin: .5rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.employees {
    margin: .5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.one {
    margin: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.socialmedia {
    grid-column: 3;
    justify-self: center;
}

.socialmedia a {
    text-decoration: none;
}

.advertisment p {
    font-size: 4rem;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    color: var(--background-contrast2);
    line-height: 1.2;
}

.hero, .advertisment {
    position: relative;
}

.hero img, .advertisment img {
    width: 100%;
}

.hero h1 {
    position: absolute;
    opacity: 80%;
    background-color: var(--background-color);
    color: var(--text-color);
    width: 100%;
    text-align: center;
    top: 15px;
    padding: .5rem;
}

.hero article {
    position: absolute;
    bottom: 15px;
    background-color: var(--background-contrast2);
    color: var(--text-color);
    padding: 5px;
    margin: 10px;
}

.hero article img {
    height: 150px;
    width: auto;
    float: right;
    padding: 0 0 0 10px;
    opacity: 80%;
}

.hero article p {
    padding: 10px;
}

.carousel {
    width: 100%;
    overflow-x: auto;
    margin: 3em auto;
    display: flex;
    gap: 1em;
    scroll-behavior: smooth;
    anchor-name: --carousel;
    scroll-snap-type: x mandatory;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel::scroll-button(right), .carousel::scroll-button(left) {
    content: "➡";
    border: none;
    background-color: var(--background-contrast1);
    font-size: 1.5rem;
    color: var(--text-color);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding-bottom: .1em;
    cursor: pointer;
    position: fixed;
    position-anchor: --carousel;
    position-area: right center;
    translate: -150%;
}

.carousel::scroll-button(left) {
    content: "⬅";
    position-area: left center;
    translate: 150%;
}

.carousel::scroll-button(right):disabled, .carousel.carousel::scroll-button(left):disabled {
    opacity: .5;
    cursor: auto;
}

.card {
    scroll-snap-align: start;
    flex: 0 0 20em;
    background-color: var(--background-color);
    padding: 1rem;
    border-radius: .5em;
    text-align: center;
    align-content: center;
}

.card img {
    width: 400px;
}

.action {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.action a {
    text-decoration: none;
    color: var(--background-contrast1);
}