:root {
    --primary-color: black;
    --secondary-color: #eee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 2;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: var(--secondary-color);
    display: block;
    padding: 20px;
    font-size: large;
}

main {
    max-width: 840px;
    margin: 0 auto;
}

h1 {
    color: darkblue;
    margin-left: 1rem;
    font-size: 2.5rem;
}

main img {
    width: 300px;
    height: auto;
    border: 1px solid var(--primary-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

main p {
    padding: 0;
    font-size: 22px;
}

ul {
   padding: 1rem 2rem; 
}

aside {
    width: 20rem;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 1rem;
    left: 7.5rem;
    color: var(--secondary-color);
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 40px;
    border-top: 1px solid var(--primary-color);
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1.5rem auto;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}