nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    width: 840px;
}

h1 {
    color: darkblue;
}

main img {
    width: 300px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

main p {
    padding: 0;
}

aside {
    width: 20rem;
    margin: 1.5rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 0 20px;
    background-color: #eee;
    color: black;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 40px;
    border-top: 1px solid black;
    text-align: center;
}