.callout {
	max-width: 60%;
    margin: 10px;
    border: 1px solid rgb(125, 121, 121);
    padding: 10px;
    background-color: rgb(46, 67, 145);
    color: white;
}

.callout img {
	float: right;
    margin: 0 0 10px 15px;
    border: 1px solid black;
    padding: 2px;
    background-color: gray;
    width: 80px;
    height: auto;
}

blockquote {
	margin: 5px;
}

cite {
	display: block;
    border-top: 1px dotted;
    padding-top: 5px;
    text-align: right;
    font-size: small;
}