body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

header, footer {
    background-color: rgb(39, 38, 38);
    padding: 5px;
    color: white;
    text-align: center;
}

header {
    font-size: 30px;
}

main {
    width: 400px;
    margin: 0 auto;
}

h1 {
    margin: 10px;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px rgb(52, 52, 52);
}

section {
    background-color: rgb(183, 179, 179);
    padding: 10px 20px;
    margin: 20px 0;
    border: 1px solid rgb(0 0 0 / 10%) ;
}

h2 {
    border-bottom: 1px solid rgb(0 0 0 / 40%);
}

section p {
    margin: 20px;
}